:root {
  --primary-color: #646cff;
  --submit-color: #646cff;
  --text-color: #fff;
  --contrast-color: #000;

  color: var(--text-color);

  scroll-behavior: smooth;
}

.home {
  /* background: linear-gradient(to top, #2767df, #112454, #000000, #000000); */
  
  background: linear-gradient(to top, #18002a, #1b003f, #003339, #000);

  /* background: linear-gradient(to top, #18002a, #100025, #002e59, #000000); */
  
  /* background: linear-gradient(to bottom, #063487, #0b2b7b, #000000, #000000); */
  
  /* background: linear-gradient(to bottom, #0059ff, #00237b, #000000, #000000); */

  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sidebar {
  background: rgba(0, 0, 0, 68.9%);
  background-size: 400% 400%;
  height: 100vh;
}

.register {
  background: linear-gradient(-30deg, #18002a, #1b003f, #003339, #00023d);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

@keyframes gradient {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.register-form label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.register-form input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #ffffff64;
  border: 1px solid #ced4da;
}

.register-form .btn-submit {
  padding: 0.6rem 2.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  background-color: var(--submit-color);

  /* font-weight: 500; */
  cursor: pointer;
}

.register-form .btn-submit:hover {
  border: 0.5px solid var(--submit-color);
  background-color: #262c91;

  /* transform: scale(1.02); */
  transition: 0.3s;
}

.register-form .btn-submit-bold {
  padding: 0.6rem 2.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  background-color: var(--submit-color);

  /* font-weight: 500; */
  cursor: pointer;
  font-weight: bold;
}

.register-form .btn-submit-bold:hover {
  border: 0.5px solid var(--submit-color);
  background-color: #262c91;

  /* transform: scale(1.02); */
  transition: 0.3s;
}

.login {
  background: linear-gradient(-30deg, #18002a, #1b003f, #003339, #00023d);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

.login-form label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.login-form input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #ffffff64;
  border: 1px solid #ced4da;
}

.login-form .btn-submit {
  padding: 0.6rem 2.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  background-color: var(--submit-color);

  /* font-weight: 500; */
  cursor: pointer;
}

.login-form .btn-submit:hover {
  border: 0.5px solid var(--submit-color);
  background-color: #262c91;

  /* transform: scale(1.02); */
  transition: 0.3s;
}

.login-form .btn-submit-bold {
  padding: 0.6rem 2.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  background-color: var(--submit-color);

  /* font-weight: 500; */
  cursor: pointer;
  font-weight: bold;
}

/*
.publish {
  background-color: #222;
  color: #fff;
  background-size: 400% 400%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
*/

.publish {
  background: linear-gradient(-30deg, #18002a, #1b003f, #003339, #00023d);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

.publish-form label {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.publish-form input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #ffffff64;
  border: 1px solid #ced4da;
}

.publish-form .btn-submit {
  padding: 0.6rem 2.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  background-color: var(--submit-color);

  /* font-weight: 500; */
  cursor: pointer;
}

.publish-form .btn-submit:hover {
  border: 0.5px solid var(--submit-color);
  background-color: #262c91;

  /* transform: scale(1.02); */
  transition: 0.3s;
}

.publish-form textarea {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #ffffff64;
  border: 1px solid #ced4da;
}

.publish-form .btn-submit-bold {
  padding: 0.6rem 2.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  background-color: var(--submit-color);

  /* font-weight: 500; */
  cursor: pointer;
  font-weight: bold;
}

.publish-form .btn-submit-bold:hover {
  border: 0.5px solid var(--submit-color);
  background-color: #262c91;

  /* transform: scale(1.02); */
  transition: 0.3s;
}

.password-input {
  display: flex;
  align-items: center;
  position: relative;
}

.password-input input {
  flex-grow: 1;
  border-radius: 4px;
  padding-right: 40px;
}

.password-input .password-toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.contenedor-reducido {
  background-color: #333;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor-cabecera {
  color: #fff;
  padding-bottom: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */
